{{#if showAnswer}}
  Rating: {{answer.rating}} by {{answer.writer}}
  Comments: {{answer.title}}
  <button {{action "hideAnswerNow"}}>Hide Answer</button>
{{else}}
  <button {{action 'showAnswerNow'}}>Show Answer</button>
{{/if}}
